## Lists
One of Python's most powerful built-in [data structure](https://en.wikipedia.org/wiki/Data_structure) is the **`list`**. It is very versatile and able to do many things. Even crude data exploration and matrix algebra can be done using lists. Lists are sequences of objects separated by commas. Anything can go inside lists, even other lists. A list also falls into the category of a ['container'](http://stackoverflow.com/questions/11575925/what-exactly-are-containers-in-python-and-what-are-all-the-python-container) (objects that contain other objects). Lists are defined by the brackets **`[ ]`** operator followed by comma separated values.

In [1]:
# a list object with integers, strings and floats. Each element is separated by a comma
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]

my_list

[1, 2, 3, 4, 'one', 'two', 4.9]

### Accessing list elements
Each element of a list is accessed with the index operator, **`[ ]`**. Lists are indexed beginning at 0. To get the nth element, put n-1 in the brackets.

In [2]:
# accessing the 3rd element
my_list[2]

3

### Mutating Lists
Lists are objects that are mutable ("able to be changed after creation"). Each element in the list can be changed and new elements can be added and other elements can be deleted. This is in contrast to strings where no character can be modified, added or deleted.

In [3]:
# Change the 4th element of the list to 'changed'
print(my_list)
my_list[3] = 'changed'
my_list

[1, 2, 3, 4, 'one', 'two', 4.9]

[1, 2, 3, 'changed', 'one', 'two', 4.9]

### Unexpected behavior with mutable objects
When assigning one mutable object to multiple different variables, a huge surprise awaits the novice programmer. When one of the variables the object is assigned to mutates the object, the other variable also shows the mutation. This is because both variables are referring to the same object.

The below example will better illustrate this:

In [2]:
# create a list
list_1 = [1, 5, 10]

# assign list_1 to list_2
list_2 = list_1

# mutate one of the lists
list_1[0] = 1000

# print out the lists
print(list_1)
print(list_2) # Unexpected behavior. list_2 was also mutated!

[1000, 5, 10]
[1000, 5, 10]

### Problem 1
<span style="color:green">Mutate `list_2` and print out both lists. Does mutating list_2 still change list_1? </span>

In [4]:
list_2[0]=2000
print(list_1)
print(list_2)

[2000, 5, 10]
[2000, 5, 10]

### More detail on the same mutable objects assigned to a different variable
In the above code when **`list_1`** is assigned to **`list_2`**, Python does not create a new block of memory to hold **`list_2`**. It simply makes a reference from **`list_2`** to the same list that was created when **`list_1`** was assigned. Both **`list_1`** and **`list_2`** point to the same object. Any modification to **`list_1`** or **`list_2`** change the underlying reference object.

### Can we explicitly see the reference identification?
Yes, the **`id`** function will show the unique id as an integer so that you can see if two variables are referring to the same object or not.

In [6]:
# confirm that the identity of the list_1 and list_2 variables are the same
id(list_1), id(list_2)

(4373205384, 4373205384)

### Creating a unique list copy
If you are intending to create a unique new list that has the same elements of another list, you will need to use the copy method. The copy method creates a new object in memory with it's own unique address identity.

In [7]:
# create a copy of a list and confirm new identity
list_3 = list_1.copy()
id(list_1), id(list_2), id(list_3)

(4373205384, 4373205384, 4372673480)

In [8]:
# mutate list_3 and list_1 to further confirm unique identities
list_3[2] = 'foo'
list_1[2] = 'bar'
print(list_1)
print(list_2)
print(list_3)

[1000, 5, 'bar']
[1000, 5, 'bar']
[1000, 5, 'foo']

### Technical note: Shallow vs Deep Copying
The copy method above does a shallow copy, meaning that any mutable object *within* the list will not be copied and still refer to the same object as before. For example, when a list contains another list, the inner list will not be copied. [See here for more info](https://docs.python.org/3/library/copy.html)

### All List Methods
As we did with strings in the previous notebook, we will print out all the methods (and attributes which there are none for lists) with the **`dir()`** function.

By looking below we can see that there are many more special methods (those with double underscores) and far less normal methods. Special methods are universal to all Python objects so this is why you will see many repeated special method for objects of different types.

In [9]:
# like we did with strings lets see all the methods that are available to lists
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
print(dir(my_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Experimenting with list methods
A series of examples will follow that show some list methods. Remember that methods use the dot notation and always end in parentheses.

In [10]:
# to add an element to the end of a list use append
my_list.append(22)

### Why was there was no output?
When a method returns no output in Python, it does *not* mean that nothing happend. Something almost always *happens* but you might not see it immediately. In this case, the list was **mutated in place**. 22 was appended to the list and the object **`None`** was returned.

In [11]:
# See that 22 was appended
my_list

[1, 2, 3, 4, 'one', 'two', 4.9, 22]

### What does it mean to have `None` returned?
In Python, there is an object that represents nothing and that is the keyword **`None`**. `None` is a special object that has no non-special attributes or methods. Methods must always return something. Some methods complete their operation on an object and have no need to return anything but since Python demands that all methods return something, these methods return **`None`**. See example below.

In [12]:
# append an item to a list and show that None is returned after completion of the operation
my_new_list = [1, 2, 3]
returned_value = my_new_list.append(5)  # This command appends 5 to my_new_list and returns None
type(returned_value) # returned_value is now None

NoneType

In [13]:
# my_new_list still got 5 appended to it
my_new_list

[1, 2, 3, 5]

### How to tell if an object is `None`
**`None`** is a special object that uses different syntax to determine whether it is indeed None. You must use the identity operator **`is`** which will evaluate as boolean.

In [14]:
# Must use `is` to determine if an object is None
print(returned_value is None)
print(returned_value == None) # this still evaluates as true but is not standard and doesn't work in all situations
print(my_new_list is None)

True
True
False

### Operations that happen 'in-place'
When the list above was appended to, it was referred to as happening **in-place**. When a method acts on an object **in-place** None is usually returned. Most methods return some value but when methods return **`None`**, that is usually an indicator that the object was mutated in place. 

Take a look at the example below where the string method `count` will return the number of a particular letter in the string. Alternatively, see the append list method that returns `None`.

In [15]:
# example of a method that returns an integer vs one that returns None but with an in-place operation
test_string = 'i am a test string'
test_list = [1, 2, 3]
print(test_string.count('a'))
print(test_list.append(4))

2
None

In [16]:
# did test_list still get the number 4 appended to it?
# Yes! The operation completed in-place and returned None
test_list

[1, 2, 3, 4]

### In-place operations in Pandas
Pandas is the main data exploration library in Python and what the bulk of the course will focus on. Many pandas methods allow you to perform in-place operations so keep an eye out for this in the future when we cover this in class.

### More list methods

In [17]:
# clear empties the list
my_list.clear()
my_list

[]

In [18]:
# find first occurence of an item in list
my_list = [1, 2, 3, 4, 'one', 'fifth', 'two', 4.9]
my_list.index('one')

4

In [19]:
#insert item after fifth index. operation happens in-place
my_list.insert(5, 'fifth')
my_list

[1, 2, 3, 4, 'one', 'fifth', 'fifth', 'two', 4.9]

In [20]:
# reverse a list in place
my_list.reverse()
my_list

[4.9, 'two', 'fifth', 'fifth', 'one', 4, 3, 2, 1]

### Getting the length of a list
Looking at all the list methods produced by the **`dir`** function, the special method **`__len__`** is available just like it was with strings. This indicates that the **`len`** *function* can be used to count the number of elements in the list.

In [21]:
# return the number of elements in a list with the len function
len(my_list)

9

In [22]:
# use dunder len, the special method
my_list.__len__() # almost never done in practice

9

### Sorting a list
Lists can be sorted using the sort function as long as each element is the same type and that type is orderable.

Since `my_list` has different types (strings and numbers) an error will be raised.

In [23]:
#sort the list
my_list.sort()

TypeError: unorderable types: str() < float()

In [24]:
# sortable list
sortable_list = [8, 12, 90.8, -87, 0]
sortable_list.sort() # operation happens in place so
sortable_list

[-87, 0, 8, 12, 90.8]

### Advanced: Custom Sorting
It's possible to use the sort method to sort a list in a manner different than its natural ordering. To do this, you must use the **`key`** argument in the sort method and pass it the name of a function that you would like to apply to each element of the list.

In the below example, the **`str`** function will be passed to the `key` argument. The `str` function converts its input into a string.

In [25]:
# First an example of the str function. Here it is converting the integer 5 into the string '5'
str(5)

'5'

In [26]:
# Now lets sort my_list which contains both numbers and strings 
# by using the key argument and passing it the str function
my_list.sort(key=str)
my_list

[1, 2, 3, 4, 4.9, 'fifth', 'fifth', 'one', 'two']

### Advanced: Problem 2
<span style="color:green">Create a variable that is assigned to a list of five lists where the inner lists have different numbers of elements and different types of elements. Use the sort method to sort the outer list by the number of elements in each inner list. Lists of lists are [explained below here.](#Lists-of-Lists)</span>

In [150]:
listing = [[2,'three'],[[5,6,7,'%'],[9,10,11,12,22,33,44]],[13,14,15,16],[3],['awesome']]
listing.sort(key=len)
listing

[[3],
 ['awesome'],
 [2, 'three'],
 [[5, 6, 7, '%'], [9, 10, 11, 12, 22, 33, 44]],
 [13, 14, 15, 16]]

### Slicing lists
Slicing and element grabbing happens the same way in lists as it does in strings. The big difference is that lists are mutable (each element is able to be changed). Strings are not.

In [28]:
# selecting elements. Use negative numbers to grab elements starting from the end
my_list[0], my_list[-1]

(1, 'two')

In [29]:
# from begging to 1 prior to 3rd position
my_list[:3]

[1, 2, 3]

In [30]:
# from 3rd position til end
my_list[3:]

[4, 4.9, 'fifth', 'fifth', 'one', 'two']

### Start : Stop : Step
List slicing uses the exact same slicing form as strings. If the start index is not included it is defaulted to the first element. If the stop index is not included it is defaulted to stop at the last element. If the step size is not included it is defaulted to 1. 

If the stop index is included, the list is sliced up to but does not include the stop index element.

See the many slicing examples below:

In [31]:
# lets first output my_list
my_list

[1, 2, 3, 4, 4.9, 'fifth', 'fifth', 'one', 'two']

In [32]:
# slice with defaul start, stop and step. Looks strange but is legal
my_list[::]

[1, 2, 3, 4, 4.9, 'fifth', 'fifth', 'one', 'two']

In [33]:
# Same thing as above
my_list[:]

[1, 2, 3, 4, 4.9, 'fifth', 'fifth', 'one', 'two']

In [34]:
# Slice up to but not including the 3rd index
my_list[:3]

[1, 2, 3]

In [35]:
# slice from the fourth index to the end
my_list[4:]

[4.9, 'fifth', 'fifth', 'one', 'two']

In [36]:
# slice from the 1st index to the 5th index with step size 2
my_list[1:5:2]

[2, 4]

### Negative Step Size
Occasionally you might want to slice from a higher index down to a lower index. To do this you use a negative step size and must put the higher index first.

In [37]:
# This example does not work correctly and returns an empty list. Must have higher index first
my_list[1:4:-1]

[]

In [38]:
# correctly slice from high to low with negative step size
my_list[4:1:-1]

[4.9, 4, 3]

In [39]:
# reverse a list. This is non-intuitive but a very pythonic way of reversing a list
my_list[::-1]

['two', 'one', 'fifth', 'fifth', 4.9, 4, 3, 2, 1]

### Negative Start and Stop indexes
All three list slice numbers can be negative. Negative numbers for start and stop are equal to the index beginning from the end of the list. So `my_list[-4]` represents the 4th element from the end.

Although negative numbers work, it's best to use positive numbers when possible as they are more readable and less error prone.

In [40]:
# Slice from the 4th element from the end up to but not including the last element
my_list[-4:-1]

['fifth', 'fifth', 'one']

### The Range Function
**`Range`** is a function that can be used to create a sequence of numbers using the same start, stop, step style of list and string slicing we have already seen. Range is different in that it doesn't actually produce a sequence of numbers when its first called. It 'lazily' evaluates, meaning it only generates the next number in the sequence when demanded. Get [more information on the range function](http://stackoverflow.com/questions/13092267/if-range-is-a-generator-in-python-3-3-why-can-i-not-call-next-on-a-range)

This is very similar to what a generator does. Generators are a more advanced topic [that can be read about here](http://stackoverflow.com/questions/1756096/understanding-generators-in-python)). 

Ranges can be converted to lists with the **`list`** function, otherwise they remain as **`range`** objects.

In [1]:
# Some examples of creating lists with the range function
# use start, stop, step as the arguments and wrap list around range
list(range(5, 10)) # step size defaults to 1

[5, 6, 7, 8, 9]

In [2]:
# Start from 0 up to but not including the given argument
list(range(10)) # start is defaulted to 0 if not given

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# start from 300 go to 1000 by 50
list(range(300, 1000, 50))

[300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950]

In [4]:
# start from 800 go to 512 by -88
list(range(800, 512, -88))

[800, 712, 624, 536]

In [10]:
# stays a range object
# almost no evaluation happens
a=range(3, 20, 4)
a

range(3, 20, 4)

In [11]:
type(a)

range

### Mutating Slices of lists
It's possible to reassign multiple elements of a list with a single element.

In [8]:
# Lets first create a list of numbers from 0 to 20
my_list = list(range(20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
# assign all numbers greater than 10 to 'greater than 10'
my_list[11:] = ['greater than 10']
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'greater than 10']

### Problem 3
<span style="color:green">Notice above that 'greater than 10' was surrounded by [ ]. This means that ['greater than 10'] is a list. Do the same operation as the cell above except without the [ ]. What happens?</span>

In [10]:
my_list[11:]='greater than 10'
my_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'g',
 'r',
 'e',
 'a',
 't',
 'e',
 'r',
 ' ',
 't',
 'h',
 'a',
 'n',
 ' ',
 '1',
 '0']

### Problem 4
<span style="color:green">Create a list of 10 elements starting from 0 using the range function. Slice the list from the 2nd element to the 6th element with a step size of 2 and attempt to assign a single element list to it. What happens?</span>

In [31]:
new_list = list(range(10))
new_list[2:6:2] = [2]
new_list

ValueError: attempt to assign sequence of size 1 to extended slice of size 2

### Problem 5
<span style="color:green">After the error above in problem 4, try and assign a different list to that slice that does not raise an error. What is the rule for assigning new elements to slices of lists?</span>

In [43]:
new_list = list(range(10))
new_list[2:6:2] = [100,200]
new_list

[0, 1, 100, 3, 200, 5, 6, 7, 8, 9]

### The `slice` function
Rarely used but occasionally very useful is the **`slice`** function, which again uses the same start, stop, step notation. The slice function returns a slice object which you can assign to a variable and place inside the **`[ ]`** of a list to slice. It takes the place of the `start:stop:step` notation.

In [1]:
# First lets create a list
my_list = list(range(20)) # create a list
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
# create a slice object and use it to slice from the 4th index up to the 15th by 3
my_slice = slice(4, 15, 3)
my_list[my_slice]

[4, 7, 10, 13]

In [3]:
# Which is the same as
my_list[4:15:3]

[4, 7, 10, 13]

### Problem 6
<span style="color:green">Create a list using the range function from 100 to 500. Then create a slice object that starts from the 20th element from the end and slices to the end (use keyword `None` for this) by 5. Use this slice object in the list you created.</span>

In [48]:
my_list = list(range(100,500))
my_slice = slice(-20,-500,-5)
my_list[my_slice]

[480,
 475,
 470,
 465,
 460,
 455,
 450,
 445,
 440,
 435,
 430,
 425,
 420,
 415,
 410,
 405,
 400,
 395,
 390,
 385,
 380,
 375,
 370,
 365,
 360,
 355,
 350,
 345,
 340,
 335,
 330,
 325,
 320,
 315,
 310,
 305,
 300,
 295,
 290,
 285,
 280,
 275,
 270,
 265,
 260,
 255,
 250,
 245,
 240,
 235,
 230,
 225,
 220,
 215,
 210,
 205,
 200,
 195,
 190,
 185,
 180,
 175,
 170,
 165,
 160,
 155,
 150,
 145,
 140,
 135,
 130,
 125,
 120,
 115,
 110,
 105,
 100]

### Deleting with the `del` operator
In Python it's possible to delete variables and completely remove them from the program.

In [53]:
# create a variable and then delete it
var = 'some variable'
del var

In [54]:
# now try and access that variable and get an error
var

NameError: name 'var' is not defined

### Deleting elements in a list
More useful than just deleting a variable is the ability to delete elements of a list, or any portion of mutable objects (as you will see in Pandas).

It is possible to delete single elements and even slices so this operation is quite versatile.

In [55]:
# create a list
my_list = list(range(20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
# delete the element at the 8th index
del my_list[8]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
# delete a slice from the 4th to the 12th element
del my_list[4:12]
my_list

[0, 1, 2, 3, 13, 14, 15, 16, 17, 18, 19]

In [58]:
# delete from the 3rd to the last element with a step size of 3
my_list = list(range(20))
del my_list[3::3]
my_list

[0, 1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

### Creating a list out a string
There is a function **`list`** that is used to force objects of other types to become a list. One use of this is to convert a string to a list. Every character in the string is now an element in the list.

In [14]:
# create a list of characters from a string
my_string = 'string about to be a list'
print(list(my_string))

['s', 't', 'r', 'i', 'n', 'g', ' ', 'a', 'b', 'o', 'u', 't', ' ', 't', 'o', ' ', 'b', 'e', ' ', 'a', ' ', 'l', 'i', 's', 't']

### Problem 7
<span style="color:green">Create a list of characters using the list function on a string. Delete elements starting from index 2 up to index 6. Output the new list.
</span>

In [59]:
my_string = 'This is my madeup string'
new_list = (list(my_string))
print "Old String:",new_list
del new_list[2:6]
print "New String:", new_list

Old String: ['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'm', 'y', ' ', 'm', 'a', 'd', 'e', 'u', 'p', ' ', 's', 't', 'r', 'i', 'n', 'g']
New String: ['T', 'h', 's', ' ', 'm', 'y', ' ', 'm', 'a', 'd', 'e', 'u', 'p', ' ', 's', 't', 'r', 'i', 'n', 'g']

### Advanced: Problem 8
<span style="color:green">Create a list using the range function from 352 to 5218 by 7. Delete elements starting from the index that is 100th from the end up to the 8th element from the end by 6. Without printing out the entire list, what is the last number that was deleted from your original list? 
</span>

In [65]:
my_list = list(range(352,5218,7))
del my_list[-100:-8:-6]

### Creating a string out of a list
Just like we created a list from a string, it is possible to create a string from a list. First, you must have a list of strings that you would like to concatenate together to make one long string. All the elements are joined together by a separating string using the **`join`** method.

In [62]:
# Create a list of strings
list_of_strings = ['humpty', 'dumpty', 'sat', 'on', 'a', 'wall']

# choose a string that will act as the separator between each string element
# lets just use a blank space
separator = ' '

# use the join string method to create one string from the list of strings
separator.join(list_of_strings)

'humpty dumpty sat on a wall'

In [63]:
# do the same thing without assigning the separator variable first
' '.join(list_of_strings)

'humpty dumpty sat on a wall'

In [64]:
# use any other set of characters as the separator
' 001111000 '.join(list_of_strings)

'humpty 001111000 dumpty 001111000 sat 001111000 on 001111000 a 001111000 wall'

### Problem 9
<span style="color:green">Use the character 'a' to separate and join the following list to reveal the magic word </span>

In [66]:
# concatenate all elements of this list together separated by 'a'
magic_word = ['', 'b', 'r', 'c', 'd', 'b', 'r', '!']
'a'.join(magic_word)

'abaracadabara!'

### List Concatenation
Lists are concatenated in the same way strings are - with the plus (+) operator

In [66]:
list_1 = [1,2,3]
list_2 = [4, 5, 6]
list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [67]:
# there is also the extend method, which concatenates lists in-place
list_1 = ['a', 'b', 'c']
list_1.extend([1,2,3]) # Returns None (no output) and the operation happens in-place

In [68]:
# output the list to see extend worked properly
list_1

['a', 'b', 'c', 1, 2, 3]

### List Equality
Two equal signs can be used to test equality of lists. Lists must have all elements in the same exact order.

In [69]:
# checking equality
list_1 = list(range(5))
list_2 = [0, 1, 2, 3, 4]
list_1 == list_2

True

In [70]:
# can even use the special method __eq__
list_1.__eq__(list_2)

True

In [71]:
# slicing and concatenating list and checking equality
list_1[:3] + list_1[3:] == list_1

True

### Problem 10
<span style="color:green">use the + operator to concatenate two lists. Make the first list the even elements of test_list and the second list the odd elements of test_list</span>

In [85]:
test_list = list(range(20))
first_list=test_list[:20:2]
second_list = test_list[1:20:2]
final_list = first_list+second_list
final_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Problem 11
<span style="color:green">Create a list then use the `extend` method to add elements to it</span>

In [99]:
old_list = [12,24,34,56,78]
old_list.extend([1000,2000,3000])
old_list

[12, 24, 34, 56, 78, 1000, 2000, 3000]

### Problem 12
<span style="color:green">In words, without actually programming, what will <strong>my_list * 5</strong> do?</span>

Repeats it five times.

### Lists of Lists
Lists of lists are similar to n-dimensional arrays in scientific computing

In [74]:
# create a list of lists
# lists can even contain functions
list_list = [[1, 2, 3], [5,6], [90, 100, 109], max]

In [75]:
# get the max of two numbers in a really bizarre way
list_list[3](5,8)

8

In [76]:
# What happens when we access the first element?
list_list[0]

[1, 2, 3]

In [77]:
# How to access nested lists
list_list[0][2]

3

In [78]:
# Use different indices to get the same item
list_list[-4][-1]

3

In [79]:
# get a  slice of a list of a list
list_list[2][1:]

[100, 109]

In [80]:
# mutate this list of list
list_list[2][1:] = [900, 909]
list_list

[[1, 2, 3], [5, 6], [90, 900, 909], <function max>]

### Problem 13
<span style="color:green">First create a list containing at least three inner lists. Then replace the second list with a reverse of the third list.</span>

In [112]:
list_hello= [[23,34,45,56],[90,80,70,60],[43,54,65,76]]
list_hello[1]=list_hello[2][-1::-1]
list_hello

[[23, 34, 45, 56], [76, 65, 54, 43], [43, 54, 65, 76]]

### Check item is in list
To determine if an element is contained within a list the **`in`** or **`not in`** operator is used. This is done in the same way as checking for a substring in a string with `in` (and `not in`) keywords.

In [83]:
# check list membership
my_list = [6, 'word', 2]
6 in my_list

True

In [84]:
12 in my_list

False

In [85]:
5 not in my_list

True

### Problem 14
<span style="color:green">Create a list using the range function from 0 to 100,000 by 113 and determine if the value 87,649 is in the list or not.</span>

In [133]:
new_list = (range(0,100000,113))
87649 in new_list

False

### Congrats on finishing notebook 3!
Keep going to notebook 4!